body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../img/estrelaas.jpg);
    background-size: contain;
    color: white;
}


html {
    scroll-behavior: smooth;
    /*efeito do header sumindo*/
}
.header{
    background: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 1000;
    /*efeito do header sumindo*/
    transition: top 0.5s ease-in-out;
    border-bottom: #063667;

    }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.nav-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-right: 8vh;
}

.nav-links a{
    background: transparent;
    border: 2.5px solid rgba(19, 39, 62, 0.847);
    padding: 5px 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    box-shadow: 0px 0px 10px rgba(255, 255, 255.452); 
    transition: all 0.4s ease-in-out;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 255, 255, 0.4); /* BRILHO VISÍVEL */
}

.nav-links a:hover {
    box-shadow: 0px 0px 25px rgba(13, 12, 780.8); 
    background: rgb(255, 255, 255);
    color: black;
}

li{
    display: inline;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    z-index: 110;

}
.content {
    background-image: url(../img/motocross.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-end;
    text-align: end;

    /* flex-direction: row; */

    width: 100%;
    height: 130vh;
    position: relative;
    overflow: hidden;
    z-index: 120;

}
/*degrade depois da imagem*/
.content::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 80vh;
    pointer-events: none;
    z-index: 1; 
}

.content::after {
    bottom: -10vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.soundwave {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: -65vh;
    background: url(../img/soundwave.png) no-repeat center/cover;
    z-index: 5000;
}



.soundwave::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    pointer-events: none;
    z-index: 90;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.card1 {
    position: relative; /* necessário para o degrade funcionar  */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    background-image: url(../img/fundoOnda.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 121;
}
/*degrade antes da imagem*/
.card1::before {
    content: "";
    position: absolute;
    top: 0; /* agora o degradê vem do topo */
    left: 0;
    width: 100%;
    height: 15vh; /* altura do degradê */
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to bottom, #0000003c 0%, rgba(0, 0, 0, 0) 100%);
}
.card1::after {
    content: "";
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 15vh; 
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to top, #0000003c 0%, rgba(0, 0, 0, 0) 100%);
}

.img-viagem img{
    width: 70vh;
    
}
.text-viagem{
    background-color: #13273ed8;
    padding: 20px;
    border: 20px;
    box-shadow: 0px 0px 75px rgba(255, 255, 255, 0.8); 
    border-radius: 20px;
}

.text-viagem h1{
    text-align: center;
}
.text-viagem p {
    display: flex;
    text-align: center;

}

.heroII{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 500vh;
}


.nuvem{
    margin-top: 10vw;
    width: 100%;
    height: 80vw;
    background-image: url(../img/nuvem.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2000;
    margin-bottom: -20vw;
    position: relative;
    
}

.space{
    position: relative;
    width: 100%;
    height: 800vh;
    background: linear-gradient(#000, #000000); /* espaço escuro */
    display: flex;
    flex-direction: column;
}

.foguete{
    margin-top: -20vw;
    position: fixed;
    top: 20%;
    left: 46.5%;
    width: 80px;
    transform: rotate(135deg); /* deixa ele de ponta cabeça */
    transition: transform 0.2s linear;
    align-items: center;
    z-index: 100;
}
.mercurio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vw;
    margin-top: 20vw;
    justify-content: space-evenly;
    margin-bottom: -52vw;
    align-items: center;
}
.mercurio img{
    width: auto;
    height: 30vw;
}
.galaxia1{
    margin-top: 130vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 20vw;
    width: 100%;
    
}
.galaxia1 img{
    display: flex;

}
#tituloLEGAL {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3vw; /* responsivo, ajusta no tamanho da tela */
    color: #ffffff;
    text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #0080ff;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    max-width: 100%; /* pode ser 100%, senão limita metade da tela */
    text-align: center; /* CORREÇÃO AQUI */
}


.venus{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vw;
    margin-top: 30vw;
    justify-content: space-evenly;
    margin-bottom: -52vw;
    align-items: center;
    z-index: 105;
}
.galaxia1 h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw; /* responsivo, ajusta no tamanho da tela */
    color: #ffffff;
    text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #0080ff;
    font-family: 'Orbitron', sans-serif; /* fonte futurista */
    letter-spacing: 0.2em; /* espaçamento entre letras */
    text-transform: uppercase;
    max-width: 50%;
    text-align: right;
}
 #imagem1 {
    filter: drop-shadow(0 0 10px #00f0ff);

}