* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #0e101c;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.auth-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  height: 80%;
}

.auth-box {
  background: #1b1d2a;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  overflow: hidden;
  /* margin-top: 30vh; */
}

.auth-tabs {
  display: flex;
}

.tab {
  flex: 1;
  padding: 12px;
  background: #1b1d2a;
  color: #aaa;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.tab.active {
  background: #2e3147;
  color: #fff;
}

.auth-form {
  display: none;
  flex-direction: column;
  padding: 15px;
}

.auth-form.active {
  display: flex;
}

.auth-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.auth-form input {
  background: #2e3147;
  border: none;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
}

.auth-form button {
  background: #4b6bfb;
  border: none;
  border-radius: 8px;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background: #3f5ad9;
}

.text-link {
  margin-top: 12px;
  font-size: 14px;
  text-align: center;
  color: #7a7f9a;
  cursor: pointer;
}


.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #2a2d3e;
}

.exit-button {
  background: transparent;
  color: #aaa;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid #4b6bfb;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.exit-button:hover {
  background: #4b6bfb;
  color: #fff;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
  font-size: 14px;
}

.checkbox-group label {
  background: #1c1f2e;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #2a2d3e;
  color: #ccc;
  cursor: pointer;
  transition: background 0.3s;
}

.checkbox-group input {
  margin-right: 6px;
}

.checkbox-group label:hover {
  background: #2a2d3e;
}
